/* 
Regole introduttive esercizio:
- Approccio Responsive: Mobile First
- Regole di Breakpoint: tablet da 768px, desktop da 62rem 
*/


/* 
**************************************************************
REGOLE DI SETUP (DA DISATTIVARE)
**************************************************************
*/


/* header{
    height: 50px;
} */

.box-intro{
    /* height: 200px; 
    /* width: 100px;  */
    /* border: 1px solid black; */
}  


/* 
**************************************************************
REGOLE DI RESET
**************************************************************
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
**************************************************************
REGOLE DI COMMON
**************************************************************
*/

/* Impostazione colori presenti nella bozza, con le variabili */
:root{
    --first-color: #0084fd;
    --first-color-light: #b5ddff;
    --second-color: #9792e4;
    --third-color: #333333;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.f-between{
    justify-content: space-between;
}

h3{
    font-size: 1.875rem;
}

h4{
    font-size: 1.25rem;
}

.awesome-icon{
    font-size: 100px;
    color: var(--first-color)
}

p{
    line-height: 150%;
}


/* 
**************************************************************
HEADER
**************************************************************
*/

header{
    color: white;
    background-color: var(--first-color);
    margin-bottom: 30px;
}

header .container{
    align-items: center;
    padding: 10px 0;
}

header .fa-bars{
    font-size: 18px;
}

.desktop-menu a{
    text-decoration: none;
    color: white;
}

.desktop-menu li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.desktop-menu ul li:last-child{
    background-color: white;
    border-radius: 20px;
    padding: 7px;
}

.desktop-menu .h-button{
    color:black;
}

/* MEDIA QUERIES - RESPONSIVE SETTINGS 
Regole per comparsa Menu dettagliato versione desktop */
@media screen and (max-width: 991px) {
    header .desktop-menu{
        display: none;
    }
}

/* Regole per comparsa Menu Bars versione tablet/mobile */
@media screen and (min-width: 992px) {
    header .fa-bars{
        display: none;
    }
}


/* 
**************************************************************
MAIN
**************************************************************
*/

/* Sezione Main Introduttiva */

.box-intro{
    background-color: var(--first-color-light);
    padding: 30px;
}


.box-intro .intro-content{
    padding: 20px 0;
}

.main-intro .row, .main-intro .col{
    flex-direction: column;
}

.main-intro h4{
    color: var(--first-color);
}

.box-intro .m-button {
    background-color: var(--first-color);
    border-radius: 20px;
    padding: 7px;
    width: 70%;
    text-align: center;
}

.box-intro a{
    text-decoration: none;
    color: white;
}

.box-intro img{
    max-width: 100%;
}


.content-align{
    text-align: center;
    margin: 20px 0;
    border-radius: 20px;
}

.box-intro:first-child{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.box-intro:nth-child(2){
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* MEDIA QUERIES - RESPONSIVE SETTINGS */
/* Regole per allineamento Main intro versione tablet */
@media screen and (min-width: 768px) {
    .main-intro .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box-intro{
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }

   /* DA RIFARE */
}

/* Regole per allineamento Main intro versione desktop */
@media screen and (min-width: 992px) {
    
}
/* DA RIFARE */



/* Sezione Main Planning */

.planning{
    background-color: var(--second-color);
    padding: 40px 30px;
}

.planning .container{
    flex-wrap: wrap;
}

 .planning img{
    max-width: 100%;
 }

 .planning-top > *{
    color:white;
    margin: 30px 0;
 }

 .planning-bottom p{
    font-style: italic;
 }

 .planning-bottom > *{
    text-align: center;
    margin: 30px 0;
 }

 .planning-bottom{
    border-radius: 40px;
    background-color: white;
    padding: 40px;
    position:relative;
 }

 .fa-arrow-down{
    color: black;
    background-color: var(--second-color);
    padding: 15px;
    border-radius: 50%;
    margin-left: 45%;
 }

/* MEDIA QUERIES - RESPONSIVE SETTINGS 
Regole per comparsa Main sez. Planning versione desktop */
@media screen and (min-width: 992px) {
    .planning .container{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        padding: 50px 0;
    }

    .planning .col{
        width: calc(100%/2);
        padding: 0 40px;
    }

    .planning-top img{
        position:relative;
        top: 0 px;
        right: 10%;
    }
}
  



