/* 
Regole introduttive esercizio:
- Approccio Responsive: Mobile First
- Regole di Breakpoint: tablet da 768px, desktop da 62rem 
*/


/* 
**************************************************************
REGOLE DI SETUP (DA DISATTIVARE)
**************************************************************
*/


/* header{
    height: 50px;
} */

.box-intro{
    /* height: 200px; 
    /* width: 100px;  */
    /* border: 1px solid black; */
}  


/* 
**************************************************************
REGOLE DI RESET
**************************************************************
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
**************************************************************
REGOLE DI COMMON
**************************************************************
*/

/* Impostazione colori presenti nella bozza, con le variabili */
:root{
    --first-color: #0084fd;
    --first-color-light: #b5ddff;
    --second-color: #9792e4;
    --third-color: #333333;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.875rem;
}

h4{
    font-size: 1.25rem;
}

.awesome-icon{
    font-size: 100px;
    color: var(--first-color)
}

p{
    line-height: 150%;
}

.br-40{
    border-radius: 40px;
}

.f-column{
    flex-direction: column;
}


/* 
**************************************************************
HEADER
**************************************************************
*/

header{
    color: white;
    background-color: var(--first-color);
    margin-bottom: 30px;
}

header .container{
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

header .fa-bars{
    font-size: 18px;
}

.desktop-menu a{
    text-decoration: none;
    color: white;
}

.desktop-menu li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.desktop-menu ul li:last-child{
    background-color: white;
    border-radius: 20px;
    padding: 7px;
}

.desktop-menu #h-button{
    color:black;
}

/* MEDIA QUERIES - RESPONSIVE SETTINGS 
Regole per comparsa Menu dettagliato versione desktop */
@media screen and (max-width: 991px) {
    header .desktop-menu{
        display: none;
    }
}

/* Regole per comparsa Menu Bars versione tablet/mobile */
@media screen and (min-width: 992px) {
    header .fa-bars{
        display: none;
    }
}


/* 
**************************************************************
MAIN
**************************************************************
*/

/* Sezione Main Introduttiva */


.box-intro{
    background-color: var(--first-color-light);
    padding: 30px;
}


.box-intro .intro-content{
    padding: 20px 0;
}

/* .main-intro .row{
    flex-direction: column;
} */

.main-intro h4{
    color: var(--first-color);
}

.box-intro .m-button {
    background-color: var(--first-color);
    padding: 7px;
    width: 70%;
    text-align: center;
}

.box-intro a{
    text-decoration: none;
    color: white;
}

.box-intro img{
    max-width: 100%;
}


.content-align{
    text-align: center;
    margin: 20px 0;
}

.box-intro:first-child{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.box-intro:nth-child(2){
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.main-intro{
    margin-bottom: 50px;
}


/* NB DA SISTEMARE PARTE RESPONSIVE DELLA SEZ. MAIN INTRO*/

/* MEDIA QUERIES - RESPONSIVE SETTINGS */
/* Regole per allineamento Main intro versione tablet */
@media screen and (min-width: 768px) {
    .main-intro .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box-intro{
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }
}

/* Regole per allineamento Main intro versione desktop */
@media screen and (min-width: 992px) {
    
}




/* Sezione Main Planning */

.planning{
    background-color: var(--second-color);
    padding: 40px 30px;
}

.planning .container{
    flex-wrap: wrap;
}

 .planning img{
    max-width: 100%;
 }

 .planning-top > *{
    color:white;
    margin: 30px 0;
 }

 .planning-bottom p{
    font-style: italic;
 }

 .planning-bottom > *{
    text-align: center;
    margin: 10px 0;
 }

 .planning-bottom{
    background-color: white;
    padding: 40px;
    position: relative;
 }

 .fa-arrow-down{
    color: black;
    background-color: var(--second-color);
    padding: 15px;
    border-radius: 50%;
    margin-left: 45%;
 }

/* MEDIA QUERIES - RESPONSIVE SETTINGS 
Regole per comparsa Main sez. Planning versione desktop */
@media screen and (min-width: 992px) {
    .planning .container{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }

    .planning .col{
        width: calc(100%/2);
        padding: 0 40px;
    }

    .planning-top img{
        position:relative;
        top: 0 px;
        right: 10%;
    }
}
  

/* Sezione Main Testimonials */

.testimonial-intro{
    padding: 50px 0;
    text-align: center;
}

.testimonial-intro > *{
    padding: 20px 0;
}

.testimonial-intro h3{
    color:var(--second-color)
}

.testimonials .container{
    margin-bottom: 50px;
}

.testimonials img{
    max-width: 100%;
    width: 50%;
    border-radius: 100%;
    margin: auto;
}

.client-box > *{
    padding: 10px 0;
    text-align: center;
}

.client-box{
    background-color: var(--second-color);
    color: white;
    padding: 20px;
    margin: 20px 0;
}

.client-name{
    font-weight: bold;
}


/* MEDIA QUERIES - RESPONSIVE SETTINGS 
Regole per comparsa Main sez. Testimonials versione tablet/desktop */
@media screen and (min-width: 768px){
    .client-box{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .client-box p{
        text-align: start;
        padding: 0 30px;
    }

    .testimonial-intro{
        padding: 0;
    }
}


/* Sezione Main Benefits */

.benefits{
    background-color: var(--second-color);
}

.benefits h3{
    color:white;
    padding: 40px 0;
    text-align: center;
}

.benefits-box{
    background-color: white;
    padding: 20px 20px;
    margin-bottom: 30px;
}

.benefits-box > *{
    margin: 20px 0;
}

.box-number{
    font-size: 40px;
    font-weight: bold;
    color: var(--second-color);
}

.benefits h4{
    color: var(--second-color);
}

.benefits-button{
    background-color: var(--second-color);
    padding: 10px;
    width: 40%;
    text-align: center;
}

.benefits-button a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* MEDIA QUERIES - RESPONSIVE SETTINGS 
Regole per comparsa Main sez. Benefits versione tablet */

@media screen and (min-width: 768px){
    .benefits .container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits .benefits-box{
        width: calc(100%/2 - 20px);
        margin: 10px 10px;
    }
}

/* Regole per comparsa Main sez. Benefits versione desktop  */

@media screen and (min-width: 992px){
    .benefits .container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits .benefits-box{
        width: calc(100%/3 - 40px);
        margin: 10px 10px;
    }
}



/* Sezione Main About Us */

.about-us h2{
    color: var(--second-color);
}

.about-us-top > *{
    margin: 30px 0;
}

.about-us-bottom img{
    max-width: 50%;
    border-radius: 100%;
}

.about-us-bottom .answer{
    margin: 30px 0;
    font-size: 20px;
    color: var(--second-color);
    font-weight: bold;
}

.about-us-bottom a{
    background-color: var(--second-color);
    padding: 10px;
    color: white;
    text-decoration: none;

}

/* MEDIA QUERIES - RESPONSIVE SETTINGS 
Regole per comparsa Main sez. About Us versione tablet/desktop */

@media screen and (min-width: 768px){
    .about-us .container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .about-us-top{
        width: 60%;
    }

    .about-us-bottom{
        width: 30%;
    }


    .about-us-bottom img{
        max-width: 100%;
    }

    .about-us .col{
        padding: 50px 0;
    }
}

